@import 'media-queries';
@import 'variables';
@import 'mixins';

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.need-date-message {
  text-align: center;
  font-size: 19px;
}

html {
  background: url(../images/hotel-red.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  opacity: 0.91;

  @include iphone-size {
    background: url(../images/hotel-red.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: unset;
    opacity: 0.91;
  }
}

main {
  color: #fff;
}

img {
  object-fit: cover;
  opacity: 0.4;
}

.login-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 8px;
  width: 100vw;
}

.login {
  border-radius: $secondary-box-border-radius;
  height: 32em;
  padding: 2em;
  width: 21em;
  opacity: 0.88;
  background: #000;

  @include iphone-size {
    width: 23em;
  }
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 15px;
}

h2 {
  padding: 0 .5em;
  text-align: center;

  @include iphone-size {
    font-size: 20px;
  }
}

.login-form {
  @include displayStyle(flex, column);
}

.label {
  font-weight: 700;
  margin-bottom: 10px;
}

.username-login-input,
.password-login-input {
  height: 43px;
  margin-bottom: 2em;
  font-size: 20px;
}

.login-error-msg {
  color: #fd1d1d;
  font-size: 15px;
  margin-top: 0;
  text-align: center;
  color: #fff;
}

.login-button {
  cursor: pointer;
  padding: 15px 71px;
  margin-left: 33px;
  margin-top: 6px;
  font-size: 21px;
  background: #000;
  border-radius: 3px;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  margin-bottom: 6px;

  @include iphone-size {
    padding: 0;
    width: 22.8em;
    margin-left: 3px;
  }
}

.manager-landing-parent {
  display: flex;
  justify-content: space-around;
}

.client-landing-parent {
  display: flex;
  justify-content: space-around;
  border-radius: $secondary-box-border-radius;
  background: #000;
  opacity: 0.7;

  @include iphone-size {
    flex-direction: column;
    opacity: 0.8;
  }
}

.rooms-available,
.current-occupancy {
  display: flex;
  margin: 20px;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-available-rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-x: scroll;
  overflow: scroll;
  width: auto;
  height: 53%;

  @include ipad-pro-size {
    height: 70%;
  }
}

.client-prior-stays-section {
  @include displayStyle(flex, column);
  border: 1px solid black;
  border-radius: 20px;
  overflow-x: scroll;
  overflow: scroll;
  width: auto;
  height: 80%;
  padding: 5px;
}

.client-available-rooms ul li {
  margin: 4px;
}

.delete-booking-button,
.manager-client-search-button {
  cursor: pointer;
  margin: 20px 20px;
  font-size: 21px;
  background: #fff;
  border-radius: 3px;
  color: black;
}

.client-book-room-button {
  cursor: pointer;
  margin: 20px 20px;
  font-size: 21px;
  background: #fff;
  border-radius: $primary-box-border-radius;
  color: black;
  padding: 10px;

  &:hover {
    transition: 1.2s ease;
    background: #000;
    color: #ff1818;
    border: 1px solid #fff;
  }
}

.client-search-room-button {
  cursor: pointer;
  margin: 20px 20px;
  font-size: 21px;
  padding: 9px;
  border-radius: $primary-box-border-radius;
  margin-top: 25px;
  background: #fff;

  &:hover {
    transition: 1.2s ease;
    background: #000;
    color: #ff1818;
    border: 1px solid #fff
  }
}

.hide {
  display: none;
}

.right-section {
  width: 60%;
  @include displayStyle(flex, column);
  flex-grow: 2;
  height: 88vh;

  @include ipad-pro-size {
    height: 92vh;
  }

  @include iphone-size {
    width: 22.5em;
    height: 51em;
  }
}

.left-aside {
  flex-grow: 1;
  @include displayStyle(flex, column);
  align-items: center;
  height: 88vh;
  width: 40%;
  text-align: center;

  @include ipad-pro-size {
    height: 92vh;
    padding-top: 1em;
  }

  @include iphone-size {
    width: 22.5em;
  }
}

span {
  font-weight: bold;
}

.no-rooms-available-message {
  color: #DC143C;
}

.client-search-section,
.manager-booking-section {
  @include displayStyle(flex, column);
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}

.manager-client-search-parent,
.manager-booking-parent {
  @include displayStyle(flex, column);
  padding: 1em;
}

.client-date-selection,
.booking-id-input {
  width: 53%;
}

.client-date-selection {
  @include ipad-size {
    width: 55%;
    padding: 7px;
  }
}

.single-prior-stay-card {
  border: 1px solid black;
  border-radius: 20px;
  margin: 6px;
}

.single-room-details-card {
  border: 1px solid #fff;
  border-radius: $secondary-box-border-radius;
  margin: 6px;
  width: 17em;
  height: 19em;

  @include ipad-pro-size {
    width: 17em;
  }
}

.filter-rooms-parent {
  @include displayStyle(flex, column);
  padding: 1em;
  border: 1px solid black;
  border-radius: 20px;

  @include ipad-pro-size {
    height: 68%;
  }

  @include ipad-size {
    height: 68%;
    padding: 0 30px 30px 30px;
  }
}

.client-selection-section,
.manager-selection-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5em;
}

.delete-booking-parent {
  border: 1px solid black;
  width: 60%;
  border-radius: 20px;
}

.client-info-section {
  border: 1px solid black;
  width: 50%;
  border-radius: 20px;
  height: 17em;
}

.client-details-section {
  display: flex;
  justify-content: space-evenly;
}

.client-overview li {
  padding: 4px;
}

.client-search-parent {
  @include displayStyle(flex, column);
  padding: 1em;
  border: 1px solid black;
  border-radius: 20px;

  @include ipad-size {
    padding: 0;
    margin-top: 40px;
  }
}

.client-selection-section {
  display: flex;
  justify-content: space-evenly;
  margin: 1em;

  @include ipad-size {
    flex-direction: column;
  }
}

.client-search {
  @include displayStyle(flex, column);
  align-items: center;
}

.client-past-bookings,
.client-todays-bookings,
.client-upcoming-bookings {
  display: flex;
  justify-content: center;
}

.client-total {
  font-size: 30px;

  @include ipad-pro-size {
    font-size: 34px;
  }

  @include iphone-size {
    margin: 6px;
  }
}

.client-past-bookings {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #fff;
  justify-content: space-evenly;
  border-radius: 20px;
  overflow-x: scroll;
  overflow: scroll;
  width: 40%;
  height: 75%;

  @include ipad-pro-size {
    margin-bottom: 2em;
    height: 77%;
    width: 18em;
  }

  @include ipad-size {
    margin-bottom: 2em;
    width: 15em;
    height: 56%;
  }
}

.past-bookings {
  border: 1px solid #fff;
  border-radius: $secondary-box-border-radius;

  @include ipad-pro-size {
    width: 13em;
  }
}

.post-modal {
  width: 356px;
  // border: 1px solid #fff;
  border-radius: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  background: #000;
}

.filter-input {
  padding: 9px;
  font-size: 20px;
  border-radius: $primary-box-border-radius
}

.welcome-message {
  @include iphone-size {
    font-size: 24px;
    padding-left: 50px;
  }
}

.close-modal-parent {
  @include displayStyle(flex, column);
  align-items: center;
}

.close-modal {
  text-align: center;
  font-size: 27px;
  border: 2px solid #fff;
  margin-bottom: 12px;
  border-radius: $primary-box-border-radius;
}









// .header {}
// .login-parent {}

// .login-header {}

// .manager-header {}

// .client-header {}